/*
* Please do not remove this
* 7/17/2022
* Template by CusMeDroid
* IyoRTML
* Suryo DwiJayanto
*/

html{scroll-behavior: smooth;}

html body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Color */
.gray {
    color: #777 !important; /* Gray */
}

.white {
    color: #FFF !important; /* White */
}

.black {
    color: #000 !important; /* Black */
}

.green-music-btn-color {
    color: #00FF62;
}

.orange-music-btn-color {
    color: #FF6A00 !important;
}
/* End Color */

/* Fonts */
.Audiowide {
    font-family: "Audiowide", sans-serif;
}

.Sofia {
    font-family: "Sofia", sans-serif;
}

.Trirong {
    font-family: "Trirong", serif;
}
/*End Fonts*/

/* Background */
.black-bg {
    background: #000 !important;
}

.white-bg {
    background: #FFF !important;
}

/* Green */
.green-grad-bg {
  background: linear-gradient(#00FF62, #57CBAB);
}

.green-grad-bg-btn {
  background: linear-gradient(#00FF62, #57CBAB);
}

.green-grad-bg-btn:hover {
  background: linear-gradient(#57CBAB, #00FF62);
}

/* Orange */
.orenge-grad-bg {
  background: linear-gradient(#FF6A00, #CB9557);
}

.orenge-grad-bg-btn {
  background: linear-gradient(#FF6A00, #CB9557);
}

.orenge-grad-bg-btn:hover {
  background: linear-gradient(#CB9557, #FF6A00);
}
/* End Background */

/* More IDK class */
.alks {
    cursor: pointer;
}
.alaau {
    padding: 4px;
}

.sp-footers {
    display: none;
}

.lko {
    padding: 4px;
}

.lkoo {
    padding: 4px;
}

.patobo {
    padding: 8px;
}

.mabo {
    padding-bottom: 8px;
}
/* End More IDK class */

/* Background-image */
.green-bg-img {
    background: url(https://cusmedroid.github.io/hbd-template-responsive/images/bground.jpg);
}
.orange-bg-img {
    background: url(https://cusmedroid.github.io/cv/suryodwijayanto/images/bground.jpg);
}

header {
    padding: 20px;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 500px;
}

nav {
    padding: 10px;
    height: 48px;
}

.logo {
    float: left;
    font-style: bold;
}

.nav {
    float: right;
}

.nav a {
    color: white;
    padding: 4px 16px;
    margin-right: 6px;
    border: 3px solid white;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.nav a:hover {
    background: #fff;
    color: #222;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #f4f4f4;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 50%;
  margin-left: -60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #000;
}

.tooltip .tooltiptext p {
    padding-top: 6px;
    padding-bottom: 6px;
}

.tooltip .tooltiptext p:hover {
    background: #f4f4f4;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.my-input-text {
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 20px;
  padding: 12px 16px;
}

.my-input-submit {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 20px;
  padding: 12px 16px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.5s;
}

.m1 {
    padding: 50px;
    font-size: 40px;
}

.lkas {
    font-size: 24px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 4px;
}

.column3 {
  float: left;
  width: 33,33%;
}

.column4 {
  float: left;
  width: 25%;
  padding: 4px;
}

.column-header {
  float: left;
  width: 25%;
  padding: 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.main {
    padding: 20px 20px 20px 20px;
    background: #f4f4f4;
    height: 100%;
}

.iimg {
    width: 75%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 20px;
  background: white;
  padding: 10px;
}

.card-container {
  padding: 8px;
}

.card-img {
  border-radius: 20px;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  object-fit: cover;
  transition-duration: 0.5s;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.card-img:hover {
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.card-title {
    padding: 8px;
}

.titlehome {
  text-shadow: 2px 2px #CCCCCC;
  margin-top: 0;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 15px;
}

.sukron {
    padding: 20px;
    display: none;
}

footer {
    padding: 50px;
    color: #fff;
    text-align: center;
}

#musicpl {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    padding: 10px;
    font-size: 20px;
    top: 45%;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    background: #FFF;
    box-shadow: 0 0 13px 1px rgb(184 180 184 / 50%);
}

#musicpa {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    padding: 10px;
    font-size: 20px;
    top: 45%;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    color: gray;
    background: #FFF;
    box-shadow: 0 0 13px 1px rgb(184 180 184 / 50%);
}

#musicpa2 {
    display: none;
}

.mus {
    padding: 5px;
}

.denone {
    display:none;
}

/* Animation */
.animate-fading{
    animation:fading 10s infinite;
}
@keyframes fading{
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
}
.animate-opacity{
    animation:opac 0.8s;
}
@keyframes opac{
    from{opacity:0;}
    to{opacity:1;}
}
.animate-top{
    position:relative;
    animation:animatetop 0.6s;
}
@keyframes animatetop{
    from{top:-200px;opacity:0;}
    to{top:0;opacity:1;}
}
.animate-left{
    position:relative;
    animation:animateleft 0.6s;
}
@keyframes animateleft{
    from{left:-200px;opacity:0;}
    to{left:0;opacity:1;}
}
.animate-right{
    position:relative;
    animation:animateright 0.6s;
}
@keyframes animateright{
    from{right:-200px;opacity:0;}
    to{right:0;opacity:1;}
}
.animate-bottom{
    position:relative;
    animation:animatebottom 0.6s;
}
@keyframes animatebottom{
    from{bottom:-200px;opacity:0;}
    to{bottom:0;opacity:1;}
}
.animate-zoom {
    animation:animatezoom 0.6s;
}
@keyframes animatezoom{
    from{transform:scale(0);}
    to{transform:scale(1);}
}
/* End Animation */

.header {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #0000007f;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 2;
  font-size: 24px;
  display: none;
}

.bbtn {
  width: 40px;
  height: 40px;
  padding: 8px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.memenu {
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 5px;
  border-radius: 10px;
  background: #ffffff6d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  display: none;
  z-index: 4;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-8px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.memenu-content {
  width: 240px;
  cursor: pointer;
  position: fixed;
  top: 70px;
  right: 5px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 4;
  display: none;
}

.memenu-content a {
    display: block;
    color: black;
    font-size: 18px;
    padding: 8px 16px;
}

.memenu-content a:hover {
    background: #f4f4f4;
}

.memenupoa {display: none;}

/* Responsive Tablet */
@media screen and (max-width: 1240px) {
    header {
        height: auto;
        background-size: 100% auto;
        padding: 10px;
    }
    nav {display: none;}
    .mk {display: none;}
    .m1 {padding: 5px;}
    .iimg {width: 100%;}
    .memenu {display: block;}
    .memenupoa {display: block;}
    #musicpa {top: 60%;}
    #musicpl {top: 60%;}

}

/* Responsive Mobile */
@media screen and (max-width: 800px) {
  .column2 {width: 100%;padding: 8px 14px;}
  header {
    height: auto;
    background-size: 100% auto;
    padding: 10px;
  }
  #sugesto {
    position: -webkit-sticky;
    position: sticky;
    background: white;
    top: 0;
    padding: 14px 12px;
    z-index: 2;
  }
  nav {display: none;}
  .mk {display: none;}
  .m1 {padding: 5px;}
  .iimg {width: 65%;}
  .titlehome {margin: 0px;}
  .uvh{background: #fff;padding: 10px;}
  .main{padding: 0;}
  .column4{width: 50%;}
  .sukron {display: block;}
  .white-bg-mobile {background: #FFF !important;}
  .alaau {display: none;}
  .deksmus {display: none;}
  .header {display: block;}
  .sp-footers {display: block;padding: 20px;}
  #wish{margin-bottom: 10px;}
  .lko {padding: 14px;}
  .lkoo {padding: 6px 14px;}
  .memenupoa {display: none;}
}